$color_1: #222;
$color_2: white;
$color_3: #ae5fce;
$color_4: #1b1b1b;
$color_5: #00c853;
$color_6: #4279a3;
$color_7: #aaaaaa;
$color_8: var(--color);
$color_9: #fff;
$border_color_1: var(--hover);

fill {
	&:hover {
		box-shadow: inset 0 0 0 2em var(--hover);
	}
}
.fill {
	&:focus {
		box-shadow: inset 0 0 0 2em var(--hover);
	}
	--color: #a972cb;
	--hover: #cb72aa;
}
.pulse {
	&:hover {
		animation: pulse 1s;
		box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
	}
	&:focus {
		animation: pulse 1s;
		box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
	}
	--color: #ef6eae;
	--hover: #ef8f6e;
}
.close {
	&:hover {
		box-shadow: inset -3.5em 0 0 0 var(--hover), inset 3.5em 0 0 0 var(--hover);
	}
	&:focus {
		box-shadow: inset -3.5em 0 0 0 var(--hover), inset 3.5em 0 0 0 var(--hover);
	}
	--color: #ff7f82;
	--hover: #ffdc7f;
}
.raise {
	&:hover {
		box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
		transform: translateY(-0.25em);
	}
	&:focus {
		box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
		transform: translateY(-0.25em);
	}
	--color: #ffa260;
	--hover: #e5ff60;
}
.up {
	&:hover {
		box-shadow: inset 0 -3.25em 0 0 var(--hover);
	}
	&:focus {
		box-shadow: inset 0 -3.25em 0 0 var(--hover);
	}
	--color: #e4cb58;
	--hover: #94e458;
}
.slide {
	&:hover {
		box-shadow: inset 6.5em 0 0 0 var(--hover);
	}
	&:focus {
		box-shadow: inset 6.5em 0 0 0 var(--hover);
	}
	--color: #8fc866;
	--hover: #66c887;
}
.offset {
	box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);
	--color: #19bc8b;
	--hover: #1973bc;
	&:hover {
		box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
	}
	&:focus {
		box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
	}
}
button {
	color: $color_8;
	transition: 0.25s;
	background: none;
	border: 2px solid;
	font: inherit;
	line-height: 1;
	margin: 0.5em;
	padding: 1em 2em;
	&:hover {
		border-color: $border_color_1;
		color: $color_9;
	}
	&:focus {
		border-color: $border_color_1;
		color: $color_9;
	}
}