.carousel-item {
	transition: -webkit-transform 0.5s ease;
	transition: transform 0.5s ease;
	transition: transform 0.5s ease, -webkit-transform 0.5s ease;
	-webkit-backface-visibility: visible;
	backface-visibility: visible;
}
.carousel-inner {
	img {
		width: 100%;
		height: 100%;
	}
}
.carousel-caption {
	margin-top: -5rem;
	position: absolute;
	top: 50%;
	left: 50%; 
	transform: translate(-50%, -50%);
	h1 {
		text-shadow: 1px 1px 20px #000;
	}
	h3 {
		text-shadow: 1px 1px 20px #000;
	}
}
#carouselExampleIndicators2 {
	box-shadow: 5px 10px #888888;
}
#carouselExampleIndicators3 {
	box-shadow: 5px 10px #888888;
}
#carouselExampleIndicators4 {
	box-shadow: 5px 10px #888888;
}
figure {
	position: relative;
	width: 100%;
	height: 60%;
	margin: 0 !important;
}
.fixed-wrap {
	clip: rect(0, auto, auto, 0);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#fixed {
	background-image: url('img/mac.png');
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	will-change: transform;
}
[class*="col-"] {
	padding: 1rem;
}