.section-c {
	.gallery {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		a {
			&:first-child {
				grid-row: 1/3;
				grid-column: 1/3;
			}
			&:nth-child(2) {
				grid-column-start: 3;
				grid-column-end: 5;
			}
			width: 100%;
			height: 100%;
		}
		img {
			width: 100%;
			height: 100%;
		}
	}
}
