$color_1: #222;
$color_2: white;
$color_3: #ae5fce;
$color_4: #1b1b1b;
$color_5: #00c853;
$color_6: #4279a3;
$color_7: #aaaaaa;
$color_8: var(--color);
$color_9: #fff;

nav {
	height: 8vh;
	background: black;
}
.nav-links {
	display: flex;
	list-style: none;
	width: 50%;
	height: 100%;
	justify-content: space-around;
	align-items: center;
	margin: 0 auto;
	li {
		a {
			color: $color_2;
			text-decoration: none;
			font-size: 12px;
		}
	}
}
.landing {
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
	h1 {
		margin: 100px;
		font-size: 50px;
		color: $color_3;
	}
}
.search-bar {
	height: 44px;
	width: 200px;
	border-radius: 40px;
	display: flex;
	align-items: center;
	padding: 0 0 0 20px;
	position: relative;
	background: #fff;
}
.input {
	border: none;
	height: 25px;
	width: 150px;
	color: $color_4;
	font-size: 15px;
	outline: none;
	&:not(:placeholder-shown) {
		&+.label {
			font-size: 9px;
			top: 3px;
			color: $color_5;
		}
	}
	&:focus {
		&~.label {
			font-size: 9px;
			top: 3px;
			color: $color_6;
			transition: all 0.5s ease;
		}
		&~.highlight {
			width: 150px;
			transition: all 1s ease;
		}
	}
}
.label {
	color: $color_7;
	position: absolute;
	top: 13px;
	pointer-events: none;
	transition: all 0.5s ease;
}
.search-btn {
	background: #4279a3;
	border-radius: 20px;
	height: 40px;
	min-width: 40px;
	display: flex;
	align-items: center;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	justify-content: center;
	cursor: pointer;
	right: 2px;
	position: absolute;
	transition: all 1s ease;
}
.icon {
	display: inline-flex;
}
.icon-18 {
	width: 18px;
	height: 18px;
}
.highlight {
	width: 0px;
	height: 1px;
	background: #4279a3;
	position: absolute;
	bottom: 8px;
	transition: all 1s ease;
}