nav {
  height: 8vh;
  background: black;
}

.nav-links {
  display: flex;
  list-style: none;
  width: 50%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 12px;
}

.landing {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing h1 {
  margin: 100px;
  font-size: 50px;
  color: #ae5fce;
}

.search-bar {
  height: 44px;
  width: 200px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  padding: 0 0 0 20px;
  position: relative;
  background: #fff;
}

.input {
  border: none;
  height: 25px;
  width: 150px;
  color: #1b1b1b;
  font-size: 15px;
  outline: none;
}
.input:not(:placeholder-shown) + .label {
  font-size: 9px;
  top: 3px;
  color: #00c853;
}
.input:focus ~ .label {
  font-size: 9px;
  top: 3px;
  color: #4279a3;
  transition: all 0.5s ease;
}
.input:focus ~ .highlight {
  width: 150px;
  transition: all 1s ease;
}

.label {
  color: #aaaaaa;
  position: absolute;
  top: 13px;
  pointer-events: none;
  transition: all 0.5s ease;
}

.search-btn {
  background: #4279a3;
  border-radius: 20px;
  height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  justify-content: center;
  cursor: pointer;
  right: 2px;
  position: absolute;
  transition: all 1s ease;
}

.icon {
  display: inline-flex;
}

.icon-18 {
  width: 18px;
  height: 18px;
}

.highlight {
  width: 0px;
  height: 1px;
  background: #4279a3;
  position: absolute;
  bottom: 8px;
  transition: all 1s ease;
}

.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel-caption {
  margin-top: -5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.carousel-caption h1 {
  text-shadow: 1px 1px 20px #000;
}
.carousel-caption h3 {
  text-shadow: 1px 1px 20px #000;
}

#carouselExampleIndicators2 {
  box-shadow: 5px 10px #888888;
}

#carouselExampleIndicators3 {
  box-shadow: 5px 10px #888888;
}

#carouselExampleIndicators4 {
  box-shadow: 5px 10px #888888;
}

figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0 !important;
}

.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#fixed {
  background-image: url("img/mac.png");
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}

[class*=col-] {
  padding: 1rem;
}

fill:hover {
  box-shadow: inset 0 0 0 2em var(--hover);
}

.fill {
  --color: #a972cb;
  --hover: #cb72aa;
}
.fill:focus {
  box-shadow: inset 0 0 0 2em var(--hover);
}

.pulse {
  --color: #ef6eae;
  --hover: #ef8f6e;
}
.pulse:hover {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
}
.pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
}

.close {
  --color: #ff7f82;
  --hover: #ffdc7f;
}
.close:hover {
  box-shadow: inset -3.5em 0 0 0 var(--hover), inset 3.5em 0 0 0 var(--hover);
}
.close:focus {
  box-shadow: inset -3.5em 0 0 0 var(--hover), inset 3.5em 0 0 0 var(--hover);
}

.raise {
  --color: #ffa260;
  --hover: #e5ff60;
}
.raise:hover {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

.up {
  --color: #e4cb58;
  --hover: #94e458;
}
.up:hover {
  box-shadow: inset 0 -3.25em 0 0 var(--hover);
}
.up:focus {
  box-shadow: inset 0 -3.25em 0 0 var(--hover);
}

.slide {
  --color: #8fc866;
  --hover: #66c887;
}
.slide:hover {
  box-shadow: inset 6.5em 0 0 0 var(--hover);
}
.slide:focus {
  box-shadow: inset 6.5em 0 0 0 var(--hover);
}

.offset {
  box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);
  --color: #19bc8b;
  --hover: #1973bc;
}
.offset:hover {
  box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
}
.offset:focus {
  box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
}

button {
  color: var(--color);
  transition: 0.25s;
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}
button:hover {
  border-color: var(--hover);
  color: #fff;
}
button:focus {
  border-color: var(--hover);
  color: #fff;
}

@keyframes "pulse" {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}
/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
html {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  color: #222;
}

body {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  color: #222;
}

.choosebrand {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}
.choosebrand hr {
  border-top: 2px solid black;
  width: 95%;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
}

.about {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}
.about hr {
  border-top: 2px solid black;
  width: 95%;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
}

hr.beforeabout {
  border-top: 2px solid black;
  width: 95%;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  .line {
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
  }

  nav {
    position: relative;
  }

  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }

  .nav-links {
    position: fixed;
    background: black;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links li a {
    font-size: 25px;
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }

  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }

  .landing {
    flex-direction: column;
  }

  li.fade {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
